/*
normal-400
medium-500
bold-700
black-900
*/


	/*Общие стили*/

body,
html {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", Arial, sans-serif;
}

body > input[type="radio"] {
	display: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.site-wrapper {
	background-color: #849d8f;
	transition: background-color 2.0s ease;
}

.content-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease;
}



		/*Выравнивание контента*/

.container {
	width: 1146px;
	margin: 0 auto;
}

		/*Очистка обтекания флоатов*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

		/*Кнопки*/

.button {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f16649;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

		/*Ховеры для кнопок*/

.button:hover {
	background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


	/*Общие стили - конец*/






	/*Шапка*/

.main-header {
	position: relative;
	min-height: 72px;
	
}
.homepage {
	position: absolute;
	top: 0;
	left: 0;
}
header a {
	font-family: "Roboto", Arial, sans-serif;
	text-decoration: none;
}

		/*Основное меню*/

.main-navigation {
	float: left;
	margin-left: 190px;
}
.main-navigation ul {
	display: block;
	list-style: none;
	padding-left: 0;
}

.main-navigation > ul {
	font-size: 0;
}

.top-menu > li {
	display: inline-block;
}

.main-navigation a{
	display: block;
	padding: 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	
}

.top-menu > li > a{
	border-radius: 30px;
	color: #ffffff;
}

		/*Подменю*/

.hidden-section {
	position: relative;
}

.hidden-section .sub-menu {
	position: absolute;
	display: none;
	z-index: 25;
}

.main-navigation .sub-menu a {
	color: #323232;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	background-color: #f8f7f4;
}

	/*Основное меню - конец*/




	/*Дополнительное меню*/

.breadcrumbs ul {
	list-style: none;
	padding-left: 0;
}

.breadcrumbs a{
	display: block;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	
}

.next-section > a {
	margin-right: 3px;
}

.next-section > a::after {
	content: "»";
	position: absolute;
	margin-left: 10px;
}


		/*Подменю*/

.breadcrumbs .sub-menu a {
	color: #323232;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	background-color: #f8f7f4;
	text-decoration: none;
}

	/*Дополнительное меню - конец*/







		/*Блок пользователя*/

.user-block {
	float: right;
}

.search,
.login,
.basket {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.search a {
	display: block;
	width: 33px;
	height: 33px;
	font-size: 0;
	background-image: url("../img/search-icon.png");
	background-repeat: no-repeat;
}

.login > a {
	padding: 7px 15px 7px 46px;
	background-color: #9db1a5;
	border-radius: 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	background-image: url("../img/login-icon.png");
	background-repeat: no-repeat;
	background-position: left 17px center;
}

.basket > a {
	padding: 7px 15px 7px 46px;
	background-color: #9db1a5;
	border-radius: 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.basket .basket-empty {
	background-image: url("../img/basket-icon.png");
	background-repeat: no-repeat;
	background-position: left 17px center;
}

.basket .basket-full {

	background-image: url("../img/basket-full-icon.png");
	background-repeat: no-repeat;
	background-position: left 17px center;
}

.search .pop-up,
.login .pop-up,
.basket .pop-up {
	position: absolute;
	display: none;
}

.search a::before {
	content: "";
	position: absolute;
	background-image: url("../img/search-hover-icon.png");
	background-repeat: no-repeat;
}

.login a::before {
	content: "";
	position: absolute;
	background-image: url("../img/login-hover-icon.png");
	background-repeat: no-repeat;
	left: 17px;
	top: 2px;
}

.basket a::before {
	content: "";
	position: absolute;
	background-image: url("../img/basket-hover-icon.png");
	background-repeat: no-repeat;
	left: 17px;
	top: 2px;
}


.work-time {
	display: block;
}

.work-time .marked-text {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}


td {
	border: 1px solid grey;
}




		/*Ховеры Шапки*/

.top-menu > li > a:hover{
	color: #333333;
	background-color: #f7f6f3;
	
}

.hidden-section:hover .sub-menu {
	display: block;
}


.search a:hover::before {
	width: 33px;
	height: 33px;
	cursor: pointer;
}

.login a:hover::before {
	width: 21px;
	height: 19px;
	cursor: pointer;
}

.basket a:hover::before {
	width: 21px;
	height: 20px;
	cursor: pointer;
}

.login:hover a,
.basket:hover a {
	color: #323232;
	background-color: #ffffff;
}


		/*Ховеры Шапки - конец*/


	/*Шапка - конец*/






	/*Основной контент*/




	/*Фильтры*/

.catalog-filter {
	width: 900px;
	margin-right: auto;
}


		/*Вид сортировки*/

.sorting {
	float: left;
	width: 195px;
	height: 60px;
}

.sorting select {
	position: relative;
	width: 180px;
	height: 32px;
	padding-left: 10px;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	text-transform: lowercase;
	background-color: rgba(255, 255, 255, 0.2);		
}

.sorting select:hover {
	color: #323232;
	background-color: #ffffff;		
}

.sorting select option {
	color: #323232;
	text-transform: lowercase;
	background-color: #f7f6f3;		
}



		/*Диапазон цен*/

			/*Поля ввода стоимости*/

.price-range {
	float: left;
	width: 250px;
	height: 60px;
	font-size: 14px;
	line-height: 16px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	color: #ffffff;
	font-size: 16px;
	display: inline-block;
	width: 50%;
}

.price-controls input {
	width: 30px;
	color: #ffffff;
	font-size: 14px;
	background-color: #849d8f;
	border: 1px solid #849d8f;
	text-align: center;
}


			/*Бегунки*/

.range-controls {
	position: relative;
	height: 32px;
	padding-top: 14px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.2);
}

.range-controls .scale {
	height: 4px;
	background-color: #d1dad3;
}

.range-controls .bar {
	width: 45%;
	height: 4px;
	margin-left: 20px;
	background-color: #ffffff;
}

.range-controls .toggle {
	position: absolute;
	display: block;
	top: 6px;
	left: 0;
	width: 1px;
	height: 1px;
	border: 10px solid #ffffff;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 1px 1px 2px #849d8f;
}

.range-controls .toggle:hover {
	border-width: 11px;
	top: 5px;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 25px;
}

.range-controls .toggle-max {
	left: 125px;
}


		/*Выбор жирности*/

.fatness {
	float: left;
	width: 420px;
	height: 60px;
	margin-left: 20px;
}

.fatness span {
	display: block;
}

.fatness input[type="radio"] {
	display: none;
}

.fatness label {
	position: relative;
	padding-left: 25px;
}

.fatness label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 21px;
	height: 22px;
	background-image: url("../img/radio-empty-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.fatness input:checked + label::before {
	background-image: url("../img/radio-marked-icon.png");
}

.fatness input:disabled + label::before {
	opacity: 0.4;
}

.fatness input:not(:disabled) + label:hover::before {
	background-image: url("../img/radio-empty-hover-icon.png");
}

.fatness input:checked:not(:disabled) + label:hover::before {
	background-image: url("../img/radio-marked-hover-icon.png");
}


		/*Выбор наполнителей*/

.filler {
	float: left;
	width: 710px;
	height: 60px;
}

.filler span {
	display: block;
}

.filler input[type="checkbox"] {
	display: none;
}

.filler label {
	position: relative;
	padding-left: 25px;
}

.filler label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../img/checkbox-empty-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.filler input:checked + label::before {
	background-image: url("../img/checkbox-marked-icon.png");
}

.filler input:disabled + label::before {
	opacity: 0.4;
}

.filler input:not(:disabled) + label:hover::before {
	background-image: url("../img/checkbox-empty-hover-icon.png");
}

.filler input:checked:not(:disabled) + label:hover::before {
	background-image: url("../img/checkbox-marked-hover-icon.png");
}



		/*Кнопка отправки формы*/

.show-choice-btn {
	float: left;
	width: 146px;
	height: 38px;
	border: 2px solid #ffffff;
	margin-top: 15px;
	border-radius: 100px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.show-choice-btn:hover {
	border: 2px solid #ffffff;
	color: #323232;
	background-color: #ffffff;
}

.show-choice-btn:active {
	border: none;
	color: #323232;
	background-color: #eaeaea;
	box-shadow: inset 0 2px 1px rgba(108, 109, 108, 1);
}


	/*Фильтры - конец*/







		/*Слайдер главной страницы*/

.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
}

.buy-button {
	display: inline-block;
	padding: 12px 40px;
	font-size: 32px;
	line-height: 44px;
}

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}



	/*Смена фона и слайдов*/

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
}

#btn-1:checked ~ .site-wrapper .content-wrapper {
	background-image: url("../img/special-offer-1.png");
}

#btn-2:checked ~ .site-wrapper .content-wrapper {
	background-image: url("../img/special-offer-2.png");
}

#btn-3:checked ~ .site-wrapper .content-wrapper {
	background-image: url("../img/special-offer-3.png");
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

label[for="btn-1"]:hover,
label[for="btn-2"]:hover,
label[for="btn-3"]:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}


		/*Слайдер главной страницы - конец*/






		/*Баннеры главной страницы*/

.banners {
	display: flex;
	margin-top: 25px;
}

.banner {
	width: 560px;
	height: 229px;
	padding: 18px 20px;
	border-radius: 15px;
	position: relative;
}

.banner h2 {
	margin-top: 0;
	margin-bottom: 18px;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
}

.banner p {
	margin-top: 0;
	margin-bottom: 18px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}


.banner:nth-child(odd) {
	margin-right: 26px;
}

.banner:nth-child(1) {
	color: #ffffff;
	background-color: #98213b;
	background-image: url("../img/offer-raspberry.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.banner:nth-child(2) {
	color: #ffffff;
	background-color: #3f2519;
	background-image: url("../img/offer-chocolate.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

.banner-button {
	position: absolute;
	right: 21px;
	bottom: 23px;
	padding: 12px 23px;
	font-size: 18px;
	line-height: 24px;
}

		/*Баннеры главной страницы - конец*/





		/*Каталог товаров*/

.gallery-item {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.item {
	position: relative;
	width: 267px;
	height: 330px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.item:not(:nth-child(4n)) {
	margin-right: 26px;
}

.item a {
	position: absolute;
	width: 267px;
	height: 330px;
	display: block;
	overflow: hidden;
	color: #ffffff;
	text-decoration: none;
	background-color: #849d8f;
}


.item-price {
	position: absolute;
	top: 210px;
	left: 0;
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 1px 1px 2px #5b5d63;
}

.dimension {
	margin-left: -15px;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
}

.item-description {
	min-height: 50px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}


.item .view-item-button {
	/*position: absolute;
	bottom: -55px;
	left: 33px;
	z-index: 20;*/
	width: 195px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 15px;
	font-size: 18px;
	line-height: 24px;
}

.hit::before {
	content: "";
	position: absolute;
	z-index: 30;
	display: block;
	width: 61px;
	height: 61px;
	background-image: url("../img/hit-icon.png");
	background-repeat: no-repeat;
	background-position: left top;
}




			/*Ховеры для каталога товаров*/

.item a:hover {
	height: 420px;
	z-index: 20;
	outline: 13px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.2);

}

			/*Ховеры для каталога товаров - конец*/


		/*Каталог товаров - конец*/







		/*Переключение страниц каталога*/

.page-select {
	margin-top: 75px;
	text-align: right;
}

.page-select a,
.page-select span {
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
}

.page,
.select-prev,
.select-next {
	display: inline-block;
	width: 27px;
	height: 27px;
	padding-top: 5px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	background-color: #849d8f;
}

.select-prev {
	width: 9px;
	height: 14px;
	background-image: url("../img/arrow-left-icon.png");
	background-repeat: no-repeat;
}

.select-next {
	width: 9px;
	height: 14px;
	background-image: url("../img/arrow-right-icon.png");
	background-repeat: no-repeat;
}

.page-select .disabled {
	opacity: 0.3;
}

.page-select .current {
	color: black;
	background-color: #ffffff;
}


			/*Ховеры для переключения страниц каталога*/

.page:not(.current):hover  {
	background-color: #9db1a5;
}

			/*Ховеры для переключения страниц каталога - конец*/


		/*Переключение страниц каталога - конец*/






		/*Описание магазина*/

.features {
	margin-top: 40px;
	padding: 19px;
	background-color: #ebdbc0;
	background-image: url("../img/waffle-background.jpg");
	background-repeat: repeat;
	border-radius: 13px;
}



.features .left-column {
	float: left;
	width: 541px;
}

.features .right-column {
	float: right;
	width: 541px;
}

.features h3 {
	margin-top: 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.features p {
	position: relative;
	padding-left: 58px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}

.features p::before {
	content: "";
	position: absolute;
	display: block;
	width: 49px;
	height: 49px;
	background-repeat: no-repeat;
	left: 0;
	top: -15px;
}

.feature-1::before {
	background-image: url("../img/ice-creme-icon.png");
}

.feature-2::before {
	background-image: url("../img/leaf-icon.png");
}

.feature-3::before {
	background-image: url("../img/cow-icon.png");
}

.feature-4::before {
	background-image: url("../img/termometer-icon.png");
}


		/*Описание магазина - конец*/






		/*Блок новостей и подписки*/

.news-subscribe {
	margin-top: 40px;
}

.news-subscribe .left-column {
	float: left;
	width: 560px;
}

.news-subscribe .right-column {
	float: right;
	width: 560px;
}

.news {
	min-height: 220px;
	padding: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	background-color: #f8f7f4;
	background-image: url("../img/news-background.jpg");
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 13px;

}

.news a {
	display: block;
	max-width: 300px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.subscribe {
	min-height: 220px;
	padding: 20px;
	border-radius: 13px;
	border-width: 5px;
	border-style: solid;
	border-image-source: url("../img/post-border.png");
	border-image-slice: 5 fill;
	color: #5a5a5a;
	background-color: #f8f7f4;
}

.subscribe form {
	margin-top: 40px;
}

.subscribe p {
	margin-top: 0;
}

.subscribe input {
	width: 368px;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	box-shadow: none;
}

.subscribe button {
	margin-left: 8px;
	width: 129px;
	height: 44px;
	border: none;
}

		/*Блок новостей и подписки - конец*/







		/*Карта и обратная связь*/

.map-contact {
	position: relative;
	margin-top: 40px;
}

.contact-info {
	position: absolute;
	display: block;
	right: 27px;
	top: 60px;
	width: 300px;
	height: 305px;
	padding: 30px 25px;
	border-radius: 13px;
	background-color: #f8f7f4;
	color: #323232;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
}

.contact-info span {
	display: block;
}

.contact-info .marked-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}

.contact-info .marked-text:nth-child(2) {
	margin-top: 10px;
	margin-bottom: 25px;
}

.contact-info .marked-text:nth-child(4) {
	margin-top: 10px;
	margin-bottom: 10px;
}

.contact-info a {
	display: block;
	margin-top: 25px;
	padding: 10px;
	text-align: center;
}

.contact-info .pop-up {
	display: none;
}

		/*Карта и обратная связь - конец*/


	/*Основной контент - конец*/






	/*Подвал*/

.main-footer {
	min-height: 100px;
	padding-top: 20px;
}

.social-list,
.documents {
	float: left;
}

.author {
	float: right;
}

.social-icon {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 10px;
	font-size: 0;
}

.twitter {
	position: relative;
	background-image: url("../img/twitter-icon.png");
	background-repeat: no-repeat;
}

.instagram {
	position: relative;
	background-image: url("../img/instagram-icon.png");
	background-repeat: no-repeat;
}

.facebook {
	position: relative;
	background-image: url("../img/facebook-icon.png");
	background-repeat: no-repeat;
}

.vk {
	position: relative;
	background-image: url("../img/vk-icon.png");
	background-repeat: no-repeat;
}

.twitter::before {
	content: "";
	position: absolute;
	display: block;
	background-image: url("../img/twitter-hover-icon.png");
	background-repeat: no-repeat;
}

.instagram::before {
	content: "";
	position: absolute;
	display: block;
	background-image: url("../img/instagram-hover-icon.png");
	background-repeat: no-repeat;
}

.facebook::before {
	content: "";
	position: absolute;
	display: block;
	background-image: url("../img/facebook-hover-icon.png");
	background-repeat: no-repeat;
}

.vk::before {
	content: "";
	position: absolute;
	display: block;
	background-image: url("../img/vk-hover-icon.png");
	background-repeat: no-repeat;
}

.twitter::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-image: url("../img/twitter-active-icon.png");
	background-repeat: no-repeat;
}

.instagram::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-image: url("../img/instagram-active-icon.png");
	background-repeat: no-repeat;
}

.facebook::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-image: url("../img/facebook-active-icon.png");
	background-repeat: no-repeat;
}

.vk::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-image: url("../img/vk-active-icon.png");
	background-repeat: no-repeat;
}

.documents {
	max-width: 500px;
	display: table;
	margin-left: 200px;
}

.documents > div {
	display: table-row;
}

.documents a {
	/*display: inline-block;
	width: 200px;*/
	display: table-cell;
	color: #ffffff;
	background-color: #849d8f;
	padding-left: 22px;
}

.heart-icon {
	font-weight: 700;
	background-image: url("../img/heart-icon.png");
	background-repeat: no-repeat;
	background-position: left center
}

.author {
	width: 260px;
}

.author span {
	display: block;
}

.author a {
	color: #ffffff;
	background-color: #849d8f;
}

		/*Ховеры подвала*/

.twitter:hover::before,
.instagram:hover::before,
.facebook:hover::before,
.vk:hover::before{
	width: 38px;
	height: 38px;
}

.twitter:active::after,
.instagram:active::after,
.facebook:active::after,
.vk:active::after {
	width: 38px;
	height: 38px;
}
		/*Ховеры подвала - конец*/


	/*Подвал - конец*/


